[submodule "i_am_rich"]
	path = i_am_rich
	url = https://github.com/Kshitiz-b/i_am_rich.git
[submodule "I-am-Poor"]
	path = I-am-Poor
	url = https://github.com/Kshitiz-b/I-am-Poor.git
[submodule "MiCard-App"]
	path = MiCard-App
	url = https://github.com/Kshitiz-b/MiCard-App.git
[submodule "Dicee-App"]
	path = Dicee-App
	url = https://github.com/Kshitiz-b/Dicee-App.git
[submodule "Magic8Ball-App"]
	path = Magic8Ball-App
	url = https://github.com/Kshitiz-b/Magic8Ball-App.git
[submodule "Xylophone-App"]
	path = Xylophone-App
	url = https://github.com/Kshitiz-b/Xylophone-App.git
